## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Konakovo,RU,56.7000,36.7667,32.40,97,100,5.26,overcast clouds
1,1,Quang Ngai,VN,15.1167,108.8000,74.64,90,100,9.44,overcast clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,81.32,75,80,4.52,broken clouds
3,3,San Andres,CO,12.5847,-81.7006,80.62,83,75,13.80,broken clouds
4,4,Bredasdorp,ZA,-34.5322,20.0403,57.27,71,7,15.73,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you want for your vacation?"))
max_temp = float(input("What is the maximum temperature you want for your vacation?"))

What is the minimum temperature you want for your vacation?75
What is the maximum temperature you want for your vacation?85

In [4]:
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Hithadhoo,MV,-0.6000,73.0833,81.32,75,80,4.52,broken clouds
3,3,San Andres,CO,12.5847,-81.7006,80.62,83,75,13.80,broken clouds
8,8,Rikitea,PF,-23.1203,-134.9692,75.78,74,90,18.30,light rain
20,20,Esperance,AU,-33.8667,121.9000,78.64,57,24,18.70,few clouds
22,22,Carnarvon,AU,-24.8667,113.6333,75.27,57,40,18.41,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
655,655,Gigmoto,PH,13.7796,124.3900,81.79,89,100,17.60,overcast clouds
657,657,Nanakuli,US,21.3906,-158.1547,80.55,65,20,6.91,few clouds
658,658,Parambu,BR,-6.2111,-40.6944,79.14,50,94,4.16,overcast clouds
659,659,Bonfim,BR,3.0833,-59.9500,79.02,71,98,8.25,overcast clouds
660,660,Panukulan,PH,14.9333,121.8144,80.76,85,95,22.59,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Hithadhoo,MV,-0.6000,73.0833,81.32,75,80,4.52,broken clouds
3,3,San Andres,CO,12.5847,-81.7006,80.62,83,75,13.80,broken clouds
8,8,Rikitea,PF,-23.1203,-134.9692,75.78,74,90,18.30,light rain
20,20,Esperance,AU,-33.8667,121.9000,78.64,57,24,18.70,few clouds
22,22,Carnarvon,AU,-24.8667,113.6333,75.27,57,40,18.41,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
655,655,Gigmoto,PH,13.7796,124.3900,81.79,89,100,17.60,overcast clouds
657,657,Nanakuli,US,21.3906,-158.1547,80.55,65,20,6.91,few clouds
658,658,Parambu,BR,-6.2111,-40.6944,79.14,50,94,4.16,overcast clouds
659,659,Bonfim,BR,3.0833,-59.9500,79.02,71,98,8.25,overcast clouds
660,660,Panukulan,PH,14.9333,121.8144,80.76,85,95,22.59,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hithadhoo,MV,81.32,broken clouds,-0.6000,73.0833,
3,San Andres,CO,80.62,broken clouds,12.5847,-81.7006,
8,Rikitea,PF,75.78,light rain,-23.1203,-134.9692,
20,Esperance,AU,78.64,few clouds,-33.8667,121.9000,
22,Carnarvon,AU,75.27,scattered clouds,-24.8667,113.6333,
27,Mahebourg,MU,77.25,few clouds,-20.4081,57.7000,
30,Souillac,MU,77.36,few clouds,-20.5167,57.5167,
37,Black River,JM,78.80,few clouds,18.0264,-77.8487,
44,Hobart,AU,78.03,broken clouds,-42.8794,147.3294,
45,Avarua,CK,82.45,scattered clouds,-21.2078,-159.7750,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hithadhoo,MV,81.32,broken clouds,-0.6000,73.0833,Scoop Guest House
3,San Andres,CO,80.62,broken clouds,12.5847,-81.7006,Hotel Arena Blanca
8,Rikitea,PF,75.78,light rain,-23.1203,-134.9692,People ThankYou
20,Esperance,AU,78.64,few clouds,-33.8667,121.9000,Hospitality Esperance
22,Carnarvon,AU,75.27,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
...,...,...,...,...,...,...,...
646,Harlingen,US,76.33,clear sky,26.1906,-97.6961,Courtyard by Marriott Harlingen
655,Gigmoto,PH,81.79,overcast clouds,13.7796,124.3900,Cj's Travellers Inn
657,Nanakuli,US,80.55,few clouds,21.3906,-158.1547,Camp Pālehua
658,Parambu,BR,79.14,overcast clouds,-6.2111,-40.6944,Hotel pousada santo onofre
660,Panukulan,PH,80.76,overcast clouds,14.9333,121.8144,AC Lodging House

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))